In [21]:
from app import statistics, current_season_players
statistics.get_player_games_last_n_seasons_against_team(
  current_season_players.get_player_by_name('pascal siakam'),
  matchup=current_season_players.get_team_abbreviation_by_name('nuggets'),
  num_games=20,
  away=True,
  home=False)

def fn(player, team=""):
  return statistics.get_player_games_last_n_seasons_against_team(
  current_season_players.get_player_by_name(player),
  matchup=current_season_players.get_team_abbreviation_by_name(team) if team else "",
  num_games=20,
  away=True,
  home=False)

# statistics.get_player_games_last_n_seasons_against_team(
#   current_season_players.get_player_by_name('pascal siakam'),
#   matchup=current_season_players.get_team_abbreviation_by_name('nuggets'),
#   num_games=30,
#   away=True,
#   home=False).to_csv('csv_file.csv')

In [15]:
fn('derrick jones jr.', 'timberwolves')

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,42023,1627884,0042300312,"MAY 24, 2024",DAL @ MIN,W,33,1,5,0.200,0,3,0.000,2,2,1.000,0,4,4,1,2,0,1,4,4,0,1
1,42023,1627884,0042300311,"MAY 22, 2024",DAL @ MIN,W,35,4,9,0.444,0,2,0.000,0,0,0.000,2,2,4,2,0,0,0,1,8,-8,1
45,22023,1627884,0022300423,"DEC 28, 2023",DAL @ MIN,L,30,3,9,0.333,1,3,0.333,8,8,1.000,3,6,9,0,3,1,1,5,15,3,1
40,22022,1627884,0022200449,"DEC 18, 2022",CHI @ MIN,L,20,5,7,0.714,2,3,0.667,1,1,1.000,1,2,3,1,0,0,0,2,13,-9,1
0,22021,1627884,0022101224,"APR 10, 2022",CHI @ MIN,W,29,3,5,0.600,2,2,1.000,4,4,1.000,3,1,4,2,2,1,3,4,12,-2,1
24,22020,1627884,0022000599,"MAR 14, 2021",POR @ MIN,L,20,0,4,0.000,0,2,0.000,0,0,0.000,0,3,3,0,1,0,0,2,0,-11,1
25,22020,1627884,0022000591,"MAR 13, 2021",POR @ MIN,W,21,4,8,0.500,1,3,0.333,2,3,0.667,1,1,2,1,0,1,1,3,11,-4,1

In [23]:
fn('derrick jones jr.')

,SEASON_ID,Player_ID,Game_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS,VIDEO_AVAILABLE
0,42023,1627884,0042300312,"MAY 24, 2024",DAL @ MIN,W,33,1,5,0.200,0,3,0.000,2,2,1.000,0,4,4,1,2,0,1,4,4,0,1
1,42023,1627884,0042300311,"MAY 22, 2024",DAL @ MIN,W,35,4,9,0.444,0,2,0.000,0,0,0.000,2,2,4,2,0,0,0,1,8,-8,1
3,42023,1627884,0042300225,"MAY 15, 2024",DAL @ OKC,W,28,7,9,0.778,3,5,0.600,2,2,1.000,0,1,1,1,1,1,0,2,19,7,1
6,42023,1627884,0042300222,"MAY 09, 2024",DAL @ OKC,W,28,3,12,0.250,1,5,0.200,2,2,1.000,3,2,5,2,0,0,1,4,9,-2,1
7,42023,1627884,0042300221,"MAY 07, 2024",DAL @ OKC,L,30,3,5,0.600,1,3,0.333,0,0,0.000,1,1,2,2,0,2,1,4,7,-15,1
9,42023,1627884,0042300175,"MAY 01, 2024",DAL @ LAC,W,30,5,7,0.714,2,4,0.500,0,1,0.000,0,3,3,1,0,3,2,5,12,20,1
12,42023,1627884,0042300172,"APR 23, 2024",DAL @ LAC,W,32,4,6,0.667,0,1,0.000,2,4,0.500,2,5,7,0,0,1,2,4,10,0,1
13,42023,1627884,0042300171,"APR 21, 2024",DAL @ LAC,L,18,0,4,0.000,0,1,0.000,0,0,0.000,1,0,1,0,0,2,0,2,0,-14,1
1,22023,1627884,0022301161,"APR 10, 2024",DAL @ MIA,W,26,5,12,0.417,1,5,0.200,1,2,0.500,2,0,2,0,2,2,0,3,12,-1,1
2,22023,1627884,0022301144,"APR 09, 2024",DAL @ CHA,W,24,4,8,0.500,1,5,0.200,0,0,0.000,2,1,3,3,0,1,0,2,9,22,1
6,22023,1627884,0022300589,"APR 02, 2024",DAL @ GSW,L,18,0,4,0.000,0,1,0.000,0,0,0.000,1,2,3,1,0,2,1,1,0,-15,1
7,22023,1627884,0022301083,"MAR 31, 2024",DAL @ HOU,W,21,1,6,0.167,0,1,0.000,0,0,0.000,1,4,5,1,1,0,2,1,2,4,1
8,22023,1627884,0022301073,"MAR 29, 2024",DAL @ SAC,W,22,3,7,0.429,1,3,0.333,0,1,0.000,0,1,1,1,0,0,1,1,7,4,1
9,22023,1627884,0022301047,"MAR 26, 2024",DAL @ SAC,W,21,2,5,0.400,2,4,0.500,2,2,1.000,0,3,3,3,1,1,0,0,8,25,1
10,22023,1627884,0022301041,"MAR 25, 2024",DAL @ UTA,W,18,2,3,0.667,0,1,0.000,2,3,0.667,0,1,1,0,1,0,0,1,6,-5,1
12,22023,1627884,0022300994,"MAR 19, 2024",DAL @ SAS,W,15,1,2,0.500,0,1,0.000,2,2,1.000,0,1,1,0,0,0,1,1,4,-2,1
14,22023,1627884,0022300959,"MAR 14, 2024",DAL @ OKC,L,32,4,6,0.667,2,2,1.000,0,0,0.000,1,0,1,0,1,0,1,4,10,-17,1
16,22023,1627884,0022300935,"MAR 11, 2024",DAL @ CHI,W,16,3,7,0.429,2,5,0.400,0,0,0.000,0,0,0,2,0,0,0,1,8,19,1
17,22023,1627884,0022300919,"MAR 09, 2024",DAL @ DET,W,18,5,7,0.714,0,2,0.000,2,2,1.000,0,1,1,1,4,1,0,2,12,16,1
21,22023,1627884,0022300859,"MAR 01, 2024",DAL @ BOS,L,7,0,1,0.000,0,0,0.000,1,2,0.500,0,0,0,1,1,0,1,0,1,-10,1

In [5]:
import pandas as pd
import matplotlib
# matplotlib.use('Agg')
from matplotlib import pyplot as plt

categories = ['MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA',
       'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'PTS', 'PLUS_MINUS']

stats.set_index('GAME_DATE', inplace=True)
stats.index = pd.to_datetime(stats.index)

plt.figure(figsize=(18,10))
[plt.plot(stats.index, stats[cat], label=cat) for cat in categories]

plt.xlabel('Game Date')
plt.ylabel('Points')

plt.legend()
plt.show()

/tmp/ipykernel_2468/3142959283.py:11: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  stats.index = pd.to_datetime(stats.index)